
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
  color: #fff;
}
.container {
  padding: 20px;
  text-align: center;
}
.sinal {
  background-color: #222;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}
.forte { border-left: 5px solid limegreen; }
.medio { border-left: 5px solid orange; }
.fraco { border-left: 5px solid red; }
